.u-section-1 .u-sheet-1 {
  min-height: 535px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1104px;
  margin: 17px 0 40px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 526px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 800;
  font-size: 2.8125rem;
  margin: 121px 0 0 20px;
}

.u-section-1 .u-text-2 {
  margin: 7px 0 0 83px;
}

.u-section-1 .u-image-1 {
  min-height: 526px;
  background-image: url("images/andrea-hamburg.jpg");
  background-position: 44.47% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 1px;
  }

  .u-section-1 .u-image-1 {
    min-height: 448px;
    background-position: 48.81% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 424px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 54px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 343px;
    background-position: 48.18% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 49px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 262px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 463px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -44px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 367px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 312px;
    background-position: 45.19% 50%;
  }
}